/* Colors used:
pink
#7DBD9D //the color of the road(blocks and for the buttons)
*/

html,
body {
  font-family: 'Amatic SC', cursive;
  font-size: 1.8em;
  margin: 0px;
  width: 100%;
  height: 100%;
}

h1 {
  text-align: center;
  font-size: 2.4em;
  margin: 0.11em 0;
}

#space-game {
  height: 72%;
  /*height: 860px;*/
  margin: auto;
  width: 70%;
  border-style: solid;
}

#start-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  background-color: pink;
}

#start-screen h2 {
  font-size: 2.3em;
  text-align: center;
  color: black;
  font-weight: bold;
  margin: 35px;
}
#start-screen p {
  font-size: 1.2em;
  margin: 20px;
}
#start-screen #btn-start-game {
  font-size: 1.8em;
  padding: 2.5%;
  background-color: #7DBD9D;
}

#game-screen {
  width: 100%;
  height: 100%;
  position: relative;
}

.rows-blocks {
  display: flex;
  height: 19.79%;
  background-color: #7DBD9D;
  border: 1px solid white;
}

.pair {
  background-color: pink;
}

.block {
  display: flex;
  flex-direction: row;
  /*padding: 5%;*/
  /*height: 6%;*/
  width: 100%;
  border: 1px solid white;
  overflow: hidden;
  /*Recordad que oculta el contenido!!!*/
}

.player-block {
  background-image: url(../media/superpower.png);
  background-size: 120px;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  border: 1px solid white;
  overflow: hidden;
}

.star-block {
  background-image: url(../media/star.png);
  background-size: 120px;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  border: 1px solid white;
  overflow: hidden;
}

.obstacle-block {
  background-image: url(../media/asteroid.png);
  background-size: 120px;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  border: 1px solid white;
  overflow: hidden;
}

#win-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 20px;
  height: 100%;
  background-color: pink;
}

#win-screen h2 {
  font-size: 2.1em;
  text-align: center;
  color: black;
  margin: 50px;
  font-weight: bold;
}
#win-screen p{
  font-size: 1.2em;
  margin: 40px;
}

#win-screen #btn-resume-game {
  font-size: 1.7em;
  padding: 1%;
  background-color: #7DBD9D;
}

#win-screen #btn-restart-game {
  font-size: 1.7em;
  padding: 1%;
  background-color: #7DBD9D;
}

#game-over-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  background-color: pink;
}

#game-over-screen h2 {
  font-size: 2.3em;
  text-align: center;
  color: rgb(240, 0, 0);
  margin: 1%;
  font-weight: bold;
}
#game-over-screen p{
  font-size: 1.2em;
  margin: 40px;
}

#game-over-screen #btn-restart-game-screen {
  font-size: 1.7em;
  padding: 1.6%;
  background-color: #7DBD9D;
}
#lives{
  display: flex;
  flex-direction: column;
}

#music{
  display: none;
}